EF-lessons\Recreate_On_Model_Change\Application\bin/
EF-lessons/Recreate_On_Model_Change/Application/bin/Debug/
EF-lessons/Recreate_On_Model_Change/Application/obj/Debug/
EF-lessons/Recreate_On_Model_Change/Data/bin/Debug/
EF-lessons/Recreate_On_Model_Change/Data/obj/Debug/
EF-lessons/Custom_Database_Name/Data.Test/bin/Debug/
EF-lessons/Custom_Database_Name/Data.Test/obj/Debug/
EF-lessons/Custom_Database_Name/TestResults/
EF-lessons/Custom_Database_Name/Data/bin/Debug/
EF-lessons/Custom_Database_Name/Data/obj/Debug/
