EF-lessons\Recreate_On_Model_Change\Application\bin/
EF-lessons/Recreate_On_Model_Change/Application/bin/Debug/
EF-lessons/Recreate_On_Model_Change/Application/obj/Debug/
EF-lessons/Recreate_On_Model_Change/Data/bin/Debug/
EF-lessons/Recreate_On_Model_Change/Data/obj/Debug/
