EF-lessons\Recreate_On_Model_Change\Application\bin/
EF-lessons/Recreate_On_Model_Change/Application/bin/Debug/
EF-lessons/Recreate_On_Model_Change/Application/obj/Debug/
EF-lessons/Recreate_On_Model_Change/Data/bin/Debug/
EF-lessons/Recreate_On_Model_Change/Data/obj/Debug/
EF-lessons/Custom_Database_Name/Data.Test/bin/Debug/
EF-lessons/Custom_Database_Name/Data.Test/obj/Debug/
EF-lessons/Custom_Database_Name/TestResults/
EF-lessons/Custom_Database_Name/Data/bin/Debug/
EF-lessons/Custom_Database_Name/Data/obj/Debug/
EF-lessons/Recreate_On_Model_Change/Data.Test/bin/Debug/
EF-lessons/Recreate_On_Model_Change/Data.Test/obj/Debug/Data.Test.csproj.FileListAbsolute.txt
EF-lessons/Recreate_On_Model_Change/Data.Test/obj/Debug/
EF-lessons/Recreate_On_Model_Change/TestResults/
Security-lessons/Simple_Login_Example/Data/bin/Debug/
Security-lessons/Simple_Login_Example/Data/obj/Debug/
Security-lessons/Simple_Login_Example/Web/obj/Debug/
Security-lessons/Simple_Login_Example/Web/bin/
HTML-form-lessons/HTML_Form_Basics/Web/bin/
HTML-form-lessons/HTML_Form_Basics/Web/obj/Debug/
Unit-testing-lessons/Fake_It_Easy_With_Repositories/TestResults/
EF-lessons/Complex_Relationships/TestResults/sbutler_SBUTLER-WIN7 2013-05-06 09_57_28/Out/
*.dat
