@using Glimpse.API.Web.Models
@model IEnumerable<Person>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>People list</h1>
                <h2>A list of people with Gadgets</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
    <ul>
    @foreach (var person in Model)
    {
        <li>@person.Name</li>    
        <ul>
            @foreach (var gadget in person.Gadgets)
            {
                <li>@gadget.Name</li>
            }
        </ul>
    }
    </ul>        
    </section>
</div>
