@model Web.ViewModels.School

<h2>This was updated with ajax</h2>

<div>School name:</div>
<div>@Model.Name</div>
<div>School number:</div>
<div>@Model.PhoneNumer</div>

<div><b>Update time:</b> @DateTime.Now.ToString()</div>
