@model Web.ViewModels.School

<h3>This was updated using the AjaxOptions.UpdateTargetId</h3>

<div class="bold-label">School name:</div>
<div>@Model.Name</div>
<div class="bold-label">School number:</div>
<div>@Model.PhoneNumber</div>

<div><span class="bold-label">Update time:</span> @DateTime.Now.ToString()</div>
