@{
    ViewBag.Title = "EditForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">
        var json = JSON.parse('@Html.Raw(ViewBag.Json)');
        var viewModel = KnockoutBasics.ViewModels.ContentViewModel(json);
        viewModel.applyBindings();
    </script>
}
<h2>Edit Form</h2>

<div class="blog">
    <div data-bind="foreach: blogs">
        <h3 data-bind="text: name, visible: (isInEditMode() == false)"></h3>
        <input type="text" data-bind="value: name, visible: (isInEditMode() == true)"/>
        <a href="javascript:;" data-bind="click: function() { $root.toggleEditMode($data); }">Edit Blog Name</a>
        <div data-bind="foreach: posts">
            <div class="post">
                <h4 data-bind="text: title, visible: (isInEditMode() == false)"></h4>
                <input type="text" data-bind="value: title, visible: (isInEditMode() == true)"/>
                <div>
                    <p data-bind="text: content, visible: (isInEditMode() == false)"></p>
                    <textarea data-bind="text: content, visible: (isInEditMode() == true)"></textarea>            
                </div>
                <a href="javascript:;" data-bind="click: function() { $root.toggleEditMode($data); }">Edit Post</a>
            </div>           
        </div>
    </div>
</div>
