@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script type="text/javascript">
        var json = JSON.parse('@Html.Raw(ViewBag.Json)');
        var viewModel = KnockoutBasics.ViewModels.ContentViewModel(json);
        viewModel.applyBindings(".blog-list");
    </script>
}
<h2>Simple Knockout Example</h2>
<p>This is some stuff that was loaded from the database and bound to a client side view model via Knockout!</p>
<ul class="blog-list" data-bind="foreach: blogs">
    <li>
        <p data-bind="text:name"></p> 
        <ul data-bind="foreach:posts">
            <li>
                <p data-bind="text: title"></p>
                <p data-bind="text: content"></p>
            </li>
        </ul>
    </li>
</ul>
