@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script type="text/javascript">
        var json = JSON.parse('@Html.Raw(ViewBag.Json)');
        var viewModel = KnockoutBasics.ViewModels.ContentViewModel(json);
        viewModel.applyBindings(".blog-list");
    </script>
}
<h2>Simple Knockout Example</h2>

<ul class="blog-list" data-bind="foreach: blogs">
    <li>
        <p data-bind="text:Name"></p> 
        <ul data-bind="foreach:Posts">
            <li>
                <p data-bind="text: Title"></p>
                <p data-bind="text: Content"></p>
            </li>
        </ul>
    </li>
</ul>
