@{
    ViewBag.Title = "Congradulations!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                That was easy!
            </p>
        </div>
    </section>
}
<h3>Now what?</h3>
<p>
    Give this a shot with some other services!
</p>
<p>
    One of the other things thrown into this site as a bonus is how to get a list of friends from the facebook site and display on this site.
</p>

