@model IEnumerable<Web.Models.FacebookUser>
@{
    ViewBag.Title = "MyFriends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyFriends</h2>


@foreach (var friend in Model)
{
    <div class="row">
        <div class="column">
            <div class="picture-@friend.Id"><img src="@friend.SmallPhotoUrl" alt="@friend.Name"/></div>
        </div>
        <div class="column">
            <div class="user-name"><div class="inner"><a href="@friend.Link" target="_blank">@friend.Name</a></div></div>
        </div>    
    </div>
}
